#container {
    display: flex;
    max-width: 100%;
    background-color: #CCEBC0;
    /* height: 800px; */


    flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    justify-content: space-between;
    /* justify-content: space-around; */

    /* align-items: baseline; */
    align-items: center;
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    /* align-items: stretch; */ 

    flex-wrap: wrap;
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */

    /* SHORTHAND FLEX-DIRECTION/FLEX-WRAP)*/
    /* flex-flow: row wrap; */

    /* ALIGN-CONTENT NECESSITA TER WRAP E DEFINIR HEIGHT*/
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-around; */
}
#red{
    background-color: red;
    width: 70%;
    height: 200px;
    /* order: 1; */
}
#green{
    background-color: green;
    width: 20%;
    height: 200px;
    /* order:1; */
}
#blue{
    background-color: blue;
    width: 30%;
    height: 100px;
    /* order: 3; */
    /* align-self: center; */

}
#black{
    background-color: black;
    width: 30%; 
    height: 100px;
    /* order: 2; */
    /* align-self: center; */
}
#pink{
    background-color: pink;
    width: 30%;
    height: 100px;
 
}
